<h1>すべてのレビュー一覧</h1>

<nav style="margin-bottom: 20px;">
  <%= link_to "トップへ戻る", root_path %>
</nav>

<h1>Ruby Portfolio Review Memo</h1>

<p>ポートフォリオ評価アプリ開発中</p>

<nav>
  <a href="#">作品一覧</a>
  <a href="#">レビュー投稿</a>
</nav>

<p>開発中</p>